.p1stuff {
  display: inline;
  position: relative;
}
body {
  background-color: cornsilk;
}

.p2.stuff {
  display: inline;
}

#title {
  text-align: center;
  font-size; 100px;
}

#display2 {
  display: inline;
}