.p1stuff {
  display: inline;
  position: relative;
}
body {
  background-color: cornsilk;
}

.p2stuff {
  display: inline;
}

#title {
  text-align: center;
  font-size; 100px;
}

#display2 {
  display: inline;
}

#p2guess {
  margin-left: 400;
}
#p1guess {